@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../partials/_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Montserrat, Arial, Helvetica, sans-serif;
}
.container {
    width: 80%;
}
.container_large{
    width: 100%;
}
footer{
color: white;
}
header{
    margin-top: -7px;
}