@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../partials/_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Montserrat, Arial, Helvetica, sans-serif;
}
.container {
    width: 80%;
}
.container_large{
    width: 100%;
}
footer{
color: white;
}
header{
    margin-top: -7px;
}
img{
    max-width: 100%;
}
.fa-star{
    color:$HavelockBlue;
}
.discount_black {
    text-decoration: line-through;

}
.arrow {
    border: solid black;
    border-width: 0 0.1px 0.1px 0;
display: inline-block;
    padding: 3px;

  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }