/* metti qui i colori di base con un $ */

$White: #ffffff;
$Shark1: #2a2f33;
$Shocking: #e280b1; 
$Fedora: #6b6a6b;
$Tuscany: #bd6e29;
$BrightTurquoise: #29f1f3; 
$RegentStBlue: #a2bfe3; 
$Melanie: #e6c3d3; 
$Shark2: #3d3e43; 
$Americano: #89746c;
$TanVibrant: #d0a890;
$EdwardMuted: #a0a5a5;
$BurntUmberDarkVibrant: #882236;
$HavelockBlue: #427ed5; 
$Tamarillo: #940e19; 
$Confetti: #e6ca5c;
$LavenderPurple: #8778b6;
$Cascade: #97acae;
$NevadaDarkMuted: #64686c;
$ShockingLightVibrant: #db80b3;
$bannersmall:#f6f6f6;